<header>
  <div class="logo">
    <div class="logo-text">PARKING MANAGEMENT</div>
  </div>
  <nav>
    <ul>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['/parking']">Parking</a>
      </li>
    </ul>
  </nav>
  <div class="user-cred">
    <div class="user-logo">
      <div class="logo-text">MS</div>
    </div>
    <div class="username">Mahfuz Shuvo</div>
  </div>
</header>
